# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# this holds local app settings (different for each computer)
datagui.mat

# Skip the archive folder
archive/
